.Home {
    height: 94vh;
    /* margin-top: 55px; */
    /* text-align: center; */
}

.Home .contentContainer {
    /* background-color: greenyellow; */
    height: 100%;
}

.Home .sideBar {
    padding-top: 20px;
    width: 20vw;
    border-right: 1px solid grey;
    background-color: yellow;
}

.Home .sideBar .homeOptionButtons {
    display: flex;
    flex-direction: column;
}

.Home .sideBar .homeOptionButtons button {
    background-color: azure;
    border-radius: 0px;
    margin-bottom: 5px;
}

.Home .sideBar .homeOptionButtons button:hover {
    background-color: black;
}

.Home .mainContent {
    /* padding-top: 20px; */
    background-color: red;
    width: 100%;
    overflow-y: scroll;
}

.Home .mainContent .carousel {
    height: 30vh;
    background-color: rgba(128, 0, 128, 0.8);
}

.Home .mainContent .productList {
    padding: 10px;
}

.Home .mainContent .category {
    height:300px;
    background-color: rgba(128, 0, 128, 0.8);
    margin: 10px 0px;
}